

/* FLEX GRID SECTION FOR STYLEGUIDE */

/* needed to make scroll work w/ sticky header */
body, .content{
  height: 100%;
}

.content{
  margin-top:3.25rem;
}

.grid-row{
  display:block;
  position:relative;
  margin-top:0.5rem;
}

.col{
  position:relative;
  width:100%;
}

.example .col{
  background-color: #AA4B41;
  opacity:0.8;
}

.example .col h4{
  text-align:center;
  color:white;
  margin-top:0.5rem;
}

header.grid-row{
  margin-top:0;
}

/* Using position fixed from sticky header, avoids scrolling issues */
header .one-1{
  position:fixed;
  background-color:white;
  top:0;
  z-index:100;
}

/* Maintains flex on header nav due to fixed positioning causing display bugs */
header.grid-row{
  display:flex;
  justify-content: space-between;
}

/* These rules are specifically applied to the artists page to allow flex wrap to perform as expected */
.grid-row.artists .one-3{
  width:20rem;
}

.grid-row.artists{
  justify-content: space-evenly;
}

.grid-row.events .col.one-2{
  padding:1rem;
  box-sizing: border-box;
}

@media(min-width:25em) and (max-width:55em){ /* 400px */
  .grid-row.artists .one-3{
    width:18rem;
  }
}

@media(min-width:55em){ /* 880px */

  /* tori added these media queries here b/c they weren't working properly in their seperate style sheet */
  .col.one-2.right-image{
    order:2;
    padding-right:2rem;
  }

  .col.one-2.left-content, .grid-row.artists, .grid-row.content-image.artist-single, .grid-row.art-grid{
    padding-right:5rem;
    padding-left:5rem;
  }
  /* end of tori's additions */

  .grid-row{
    display:flex;
    justify-content: space-between;
  }

  .grid-row.main{
    justify-content: unset;
    margin-top:0;
  }

  .main .one-3{
    max-width: 24.25rem;
  }

  .one-1, .two-2, .three-3, .four-4{
    width:100%;
  }

  .one-2{
    width:49%;
  }

  .one-3{
    width:32%;
  }

  .two-3{
    width:66%;
  }

  .one-4{
    width:24%;
  }

  .two-4{
    width:49%;
  }

  .three-4{
    width:74.6%;
  }
}
