/*
  Styling for the site elements. Remove  class when using this for the actual site.
*/


/* TEXT STYLING */

h1, h2, h3, li{
  font-family: 'Raleway', sans-serif;
	font-weight: 800;
}

a, p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1{
  font-size: 3.25em;
  letter-spacing: 0.025rem;
  color: black;
}

h2{
  font-size: 1.75em;
  letter-spacing: 0.075rem;
  color: black;
  margin: 1rem 0 0 0;
  text-transform: none;
}

h3{
  font-size: 0.875em;
  letter-spacing: 0.01rem;
  color: #53D8FB;
  text-transform: uppercase;
  margin: 0.25rem 0 0 0;
}

a.in-text{
  letter-spacing: 0.02rem;
  padding: 0rem 0.2rem;
  color:black;
  background-color: #53D8FB;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a:active, a:focus{
  color:white;
  text-decoration: underline;
}

p{
  letter-spacing: 0.02rem;
}

ul{
  list-style-type: square;
}

ul li{
  color: #53D8FB;
  font-weight: 700;
}

ol li{
    font-size: 0.875em;
    letter-spacing: 0.02rem;
    color: black;
    text-transform: uppercase;
}

/* IMAGES */

img {
  max-width: 100%;
	height: auto;
}

/* BUTTONS */

.button-nav{
  text-align:center;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.125rem;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding: 0.25rem 1.3rem;
  margin:0;
}

.button-nav:hover{
  color: #53D8FB;
}

/* this is to add a border to the example navigation button so that you can see its' padding */
.add-border{
  border: 1px solid rgba(0,0,0, 0.1);
}

.button-tickets{
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  background: #53D8FB;
  width:7.5rem;

  padding: 0.25rem 0.5rem;
  margin:1rem 0;
  border: 0;

  cursor: pointer;
}

.button-tickets:hover{
  background:#4CC5E5;
  text-decoration: underline;
  }

input{
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: black;

  padding: 0.25rem 0.5rem;
  margin:0.25rem;
  border: 0;

  cursor: pointer;
}

input[type=submit] {
  background: #53D8FB;
}

input[type=submit]:hover{
  background:#4CC5E5;
    text-decoration: underline;
  }

input[type=reset] {
  background: #E8E8E8;
}

input[type=reset]:hover {
  background: #D3D3D3;
  text-decoration: underline;
}

/* TEXT INPUT (+FORM) STYLING */
form{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 0.85rem;
    letter-spacing: 0.1rem;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

input[type=text] {
  display:block;
  background: #E8E8E8;
  margin:0.5rem 0rem;

  font-family: 'Roboto', sans-serif;
	font-weight: 400;
  letter-spacing: 0.02rem;
  text-transform: none;
  color: rgba(0,0,0,0.25);
}

/* PRODUCT LISTING */
