/*
Styling for the site elements.
*/


/* TEXT STYLING */

h1, h2, h4, li{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

h1{
  font-size: 2.5em;
  letter-spacing: 0.025rem;
  color: black;
}

a h1{
  line-height: 2.6rem;
}

a h2{
  line-height: 2rem;
}

h2{
  font-size: 1.75em;
  letter-spacing: 0.075rem;
  color: black;
  margin: 1rem 0 0 0;
  text-transform: none;
}

h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 0.875em;
  letter-spacing: 0.01rem;
  color: #53D8FB;
  text-transform: uppercase;
  margin: 0.25rem 0 0 0;
}

h4{
  font-size: 0.775em;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  margin: 0.25rem 0 0 0;
}

h5{
  display:inline;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  font-weight: 700;
  color: #53D8FB;
  margin:0.5rem 0;
  padding: 0.25rem 0.7rem 0rem 0rem;
  border: 0;
}

em{
  color:#53D8FB;
  font-style: normal;
}

.banner h5{
  color: white;
}

.banner .button-info:hover{
  color:white;
}

a{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.35rem;
  text-decoration: none;
}

a.in-text{
  letter-spacing: 0.02rem;
  padding: 0rem 0.2rem;
  color:black;
  background-color: #53D8FB;
  text-decoration: none;
}

a:hover, a:hover h1{
  text-decoration: none;
  color: white;
}

a:hover h2{
  color: #53D8FB;
}

a:active, a:focus{
  color:white;
  text-decoration: none;
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.35rem;
  text-decoration: none;
  letter-spacing: 0.02rem;
  line-height: 1.45rem;
}

ul{
  list-style-type: square;
}

ul li{
  color: black;
  font-weight: 700;
  line-height: 1.5rem;
}

ol li{
  font-size: 0.875em;
  letter-spacing: 0.02rem;
  color: black;
  text-transform: uppercase;
}

/* IMAGES */

img {
  max-width: 100%;
  height: auto;
  width:100%;
}

/* BUTTONS */

.logo-amplify{
  width:8rem;
  height:auto;
  margin-left: 1.5rem;
  margin-top:0.5rem;
}

.nav-main{
  padding: 0rem 1.5rem;
}

.button-nav{
  text-align:center;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.125rem;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding: 0.25rem 1.3rem;
  margin:0;
}

.button-nav:hover{
  color: #53D8FB;
  text-decoration:none;
}

.button-cta{
  display:inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  background: #53D8FB;
  margin:0.5rem 0;
  padding: 0.25rem 1.25rem;
  border: 0;

  cursor: pointer;
}

.button-cta:hover, input[type=submit]:hover{
  background:#4CC5E5;
  color: white;
  text-decoration: none;
}

.button-info{
  display:inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  margin:0.5rem 0;
  padding: 0.25rem 1.25rem;
  border: 0;

  cursor: pointer;
}

.button-info:hover{
  color: #53D8FB;
}


input, textarea{
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: black;

  padding: 0.25rem 0.5rem;
  margin:0.25rem;
  border: 0;

  cursor: pointer;
}

input[type=submit] {
  background: #53D8FB;
  padding: 0.5rem 3rem;
  margin: 0.75rem 0rem;
}

input[type=reset] {
  background: #E8E8E8;
  padding: 0.5rem 3rem;
  margin: 0.75rem 0rem;
}

input[type=reset]:hover {
  background: rgba(0,0,0,0.25);
  color: white;
}

/* TEXT INPUT (+FORM) STYLING */
form{
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

input[type=text], input[type=number], input[type=email], textarea {
  display:block;
  background: #E8E8E8;
  margin:0.5rem 0rem;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.02rem;
  text-transform: none;
  width:100%;
  height:2rem;
  font-size:1.5rem;
}

textarea{
  height:4rem;
}

/* Artist Card Styles START */

/* artist card labels */
.artist-card-label{
  position:absolute;
  bottom:6rem;
  padding:0.5rem;
  background-color:#000000;
}

.artist-card-label h2{
  color:#53D8FB;
  margin:0;
}

.artist-card-label h2:hover{
  color: #ffffff;
}

.box-event-text h1{
  margin-top:0rem;
  margin-bottom:0rem;
  padding-bottom:0;
}

.box-event-text h3{
  margin-bottom:0.5rem;
}

.box-event-text p{
  margin-top:0.5rem;
}

.box-event-text .button-tickets{
  margin-bottom:0rem;
}

/* Artist Card Styles END */

/* NAV START */

nav.nav-main{
  display:none;
}

.nav-main{
  padding: 0rem 1.5rem;
}

h2.logo{
  text-align:center;
}

nav.nav-mobile img{
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  max-width:50px;
  padding:0.3rem;
}

.mobile-menu-items{
  display: flex;
  flex-direction: column;
  width: 22%;
  height: 100%;
  min-width: 12rem;
  position: fixed;
  right: 0;
  overflow-y: scroll;
  background: white;

  transition:right .3s ease;
}

.mobile-menu-items a.button-nav{
  padding: 2rem;
}

/* added class to grid row containing header to allow for sticky header */
.grid-row.header{
  flex: 0 0 auto;
}

/* NAV END */

/* Footer Styles START */

footer{
  padding: 1rem 2rem;
  background-color: #53D8FB;
  margin-top:2rem;
  text-align: center;
}

footer p{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 0.85rem;
  margin:0;
}

footer a{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 0.75rem;
  text-transform: uppercase;
  color:black;
}

footer a:hover{
  color:white;
}
/* Footer Styles END */

/* Main Banner Styles START */

.grid-row.banner {
  height: 90vh;
}

.banner{
  background-image: url("http://payload138.cargocollective.com/1/9/316459/5071398/Mona2web_3000_c.jpg");
  background-size: cover;
  background-position: right;
}

/* Custom banner text box styles */
.banner .box-event-text{
  position:absolute;
  bottom:0;
  padding:1rem;
  padding-bottom:0.5rem;
  background-color:#53D8FB;
}

.banner h5{
  color: white;
}

.banner p{
  margin-bottom: 0.5rem;
}

.banner .button-info{
  margin-bottom:0;
}

.banner .button-info:hover{
  color:white;
}

.banner .box-event-text h2{
  margin-top:0;
}

.banner .box-event-text h3{
  color:white;
}
/* Main Banner Styles END */


/* Main Event List Styles START */

.events-page.content{
  padding:5rem 2rem 2rem 2rem;
}

.button-cta.more-button{
  background:none;
}

.button-cta.more-button:hover{
  background: #4CC5E5;
  color:white;
}

.event-list, .event-list-title {
  padding: 1rem 0.5rem;
}

.event-list-title{
  padding-bottom:0;
}

/* Main Event List Styles END */

/* Form Styles START */
form h3{
  margin-bottom:1rem;
}

.payment-form .grid-row{
  margin-top:1.5rem;
}

.payment-form{
  width:100%;
}

/* Form Styles END */

/* Artist's Page Styles START */

/* styling for left content-right image page template (about, membership, contact pages) */
.grid-row.content-image{
  padding:0rem 2rem 5rem;
  margin-top:10rem;
  /* sets max width (same as Logan's styling) + centers content when exceeded */
  max-width:93.75rem; /* 1500 px */
  margin-left: auto;
  margin-right: auto;
}

.grid-row.artists{
  padding:0rem 2rem 5rem;
  margin-top:10rem;
  /* sets max width + centers content when exceeded */
  max-width:77.5rem; /* 1240 px */
  margin-left: auto;
  margin-right: auto;
}

.grid-row.artists{
  flex-wrap: wrap;
}

.grid-row.artists img{
  width:100%;
  margin-bottom:3rem;
  position: relative;
}



.grid-row.art-grid{
  margin-bottom:5rem;
}
/* Artist's Page Styles END */

/* Single Page Styles START */

.col.two-3.right-content{
  padding-left:1rem;
  padding-right:1rem;
}

.col.two-3.right-content h1{
  margin-bottom:0;
}

.col.two-3.right-content h2{
  margin-top:0.5rem;
  margin-bottom:3rem;
  font-size:1.5rem;
}

.col.one-2.right-image h3{
  margin-top:1rem;
}

.col.one-2.right-image p{
  margin-top:0.5rem;
}

.col.one-2.left-content{
    padding-top:2rem;
}

.col.one-2.left-content h2{
    padding-top:2rem;
}

.col.one-2.left-content h3.top-margin{
    margin-top:2rem;
}

.col.one-2.left-content p, .col.two-3.right-content p{
    max-width:38em;
}



/*
    This selector and the following ids allow the floating right and left images to collapse into fixed background elements
    Adapted from Jeremy Banks' answer here: https://stackoverflow.com/questions/18481310/hide-the-src-image-in-an-img-element-but-show-its-background-image

*/
.col.one-2.right-image img, .col.one-3.left-image img{
  object-position: -99999px 99999px;
  height: 15rem;
  background-attachment: fixed;

}

#contact-image img{
  background-image: url('../images/contact.jpg');
}

#about-image img{
  background-image: url('../images/aboutus.jpg');
}

#payment-image img{
  background-image: url('../images/feedback.jpg');
  background-size: cover;
  background-repeat: no-repeat;
    background-position: 50% -24rem;
}

#feedback-image img{
  background-image: url('../images/lauren-ys-banner-image.jpg');
  background-position: right;
}

#artist-1-image img, #exhibit-1-image img, #event-1-image img, #membership-image img{
  background-image: none;
  object-position: 0 0;
  height:auto;
  max-width:20rem;
}

/* Single Page Styles END */

/* Generic Classes */

.hidden{
  display:none;
}

.hide-right{
  right:-200%;
  transition:right .5s ease;
}

/* content container to allow for scrolling within content section */
.content{
  flex: 1 1 auto;
  position: relative;
}

/* MEDIA QUERIES */
@media(min-width: 62.188em){ /* 995 px */
  nav.nav-main {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 1rem;
  }
}


@media(min-width: 60em){ /*  */
  nav.nav-main {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 1rem;
  }

  nav.nav-mobile{
    display:none;
  }

  .hide-right{
    right:-100%;
    transition:right .5s ease;
  }

  h2.logo {
    text-align:left;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-left: 1rem;
  }

  .col.input-spacing{
    width:47%;
  }

  /* Additional  Styles By Logan START */

  h2.logo {
    text-align:left;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-left: 1rem;
  }

  /* Sets a max width and centers the list when the display gets too large */
  .grid-row.events{
    padding:0rem 2rem 0rem;
    max-width:93.75rem; /* 1200 px */
    margin-left: auto;
    margin-right: auto;
  }

  .grid-row.events .col.one-2{
    padding:0rem;
  }

  .grid-row.banner {
    height: 25rem;
  }

  .banner .one-2 {
    position: relative;
    max-width:37.5rem; /* 600px */
    padding-left: 7rem;
  }

  .events-container{
    padding:5rem;
  }

  .events-container .col.one-2{
    margin-bottom:3rem;
  }

  .event-list, .event-list-title{
    padding: 1rem 1rem 1rem 1rem;
    max-width:93.75rem; /* 1500 px */
    margin-left: auto;
    margin-right: auto;
  }

  .events-page.content{
    padding-top:5rem;
    padding-left:5rem;
    padding-right:5rem;
  }

  .event-list-title{
    padding-top:1.5rem;
    padding-bottom:0rem;
  }

  .event-list h4{
    margin-top:0;
  }

  .event-list p{
    max-width: 37.5rem; /* 600px */
  }

  .event-list .button-cta{
    display:inline-block;

    width:auto;
  }

  .event-info a h3{
    display:inline-block;
    color:black;
  }

  /* Additional  Styles By Logan END */

}

/* adds top padding when image is pushed to the right column
  note: more media queries are in the 'grids.css' sheet b/c they'd only work there (sorry)
*/
@media(min-width: 55em){ /* 880 px */
  .col.one-2.left-content{
    padding-top:5rem;
  }

  .col.two-3.right-content {
    padding-left: 5rem;
  }

  .col.one-2.right-image img, .col.one-3.left-image img{
    object-position: 0px 0px;
    height: auto;

  }

  /* This removes some visual bugs from specific images */

  #artist-1-image img, #exhibit-1-image img, #event-1-image img{
    background-image: none;
  }

  #membership-image img{
    max-width:100%;
  }

  .grid-row.artists img{
    width:20rem;
    margin-bottom:3rem;
    position: relative;
  }
}

@media(min-width: 40em){
  .events-page.content{
    padding:2rem 2rem 2rem 2rem;
  }
}

@media(max-width: 40em){
  .content{
    margin-top:0;
  }
}
