em{
  color:#53D8FB;
  font-style: normal;
}

.logo-amplify{
  width:8rem;
  height:auto;
  margin-left: 1.5rem;
  margin-top:0.5rem;
}

.nav-main{
  padding: 0rem 1.5rem;
}

/* artist card labels */
.artist-card-label{
  position:absolute;
  bottom:6rem;
  padding:0.5rem;
  background-color:#000000;
}

.artist-card-label h2{
  color:#53D8FB;
  margin:0;
}

.box-event-text h1{
  margin-top:0rem;
  margin-bottom:0rem;
  padding-bottom:0;
}

.box-event-text h3{
  margin-bottom:0.5rem;
}

.box-event-text p{
  margin-top:0.5rem;
}

.box-event-text .button-tickets{
  margin-bottom:0rem;
}

/* added class to grid row containing header to allow for sticky header */
.grid-row.header{
  flex: 0 0 auto;
}

/* styling for left content-right image page template (about, membership, contact pages) */
.grid-row.content-image{
  padding:0rem 2rem 5rem;
  margin-top:5rem;
  /* sets max width (same as Logan's styling) + centers content when exceeded */
  max-width:93.75rem; /* 1500 px */
  margin-left: auto;
  margin-right: auto;
}

.grid-row.artists{
  padding:0rem 2rem 5rem;
  margin-top:5rem;
  /* sets max width + centers content when exceeded */
  max-width:77.5rem; /* 1240 px */
  margin-left: auto;
  margin-right: auto;
}

.grid-row.artists{
  flex-wrap: wrap;
}

.grid-row.artists img{
  width:20rem;
  margin-bottom:3rem;
  position: relative;
}

.grid-row.art-grid{
  margin-bottom:5rem;
}

.col.two-3.right-content{
  padding-left:5rem;
}

.col.two-3.right-content h1{
  margin-bottom:0;
}

.col.two-3.right-content h2{
  margin-top:0.5rem;
  margin-bottom:3rem;
  font-size:1.5rem;
}

.col.one-2.right-image h3{
  margin-top:1rem;
}

.col.one-2.right-image p{
  margin-top:0.5rem;
}

.col.one-2.left-content{
    padding-top:2rem;
}

.col.one-2.left-content h2{
    padding-top:2rem;
}

.col.one-2.left-content h3.top-margin{
    margin-top:2rem;
}

.col.one-2.left-content p, .col.two-3.right-content p{
    max-width:38em;
}

/* overflow hidden for sticky header
body{
  overflow:hidden;
}

 Using overflow hidden on the body restricts the scrolling on the webpage.

*/
/* content container to allow for scrolling within content section */
.content{
  flex: 1 1 auto;
  overflow-y: auto;
  position: relative;
}

/* MEDIA QUERIES */
@media(min-width: 62.188em){ /* 995 px */
  nav.nav-main {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 1rem;
  }

/* adds top padding when image is pushed to the right column
  note: more media queries are in the 'grids.css' sheet b/c they'd only work there (sorry)
*/
@media(min-width: 55em){ /* 880 px */
  .col.one-2.left-content{
    padding-top:5rem;
  }
}
